{{#mol-about-content}}
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="title-about">
                <h2>{{about-title}}</h2>
            </div>
            <div class="separator mb-3 mt-3 mt-lg-3"></div>
            <img src="{{{about-img}}}" alt="picture" class="about-img img-fluid d-block d-lg-none mb-3">
            <div class="description-about">
                {{{about-description}}}
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="separator d-none d-lg-block mt-5"></div>
                <a href="{{{about-url}}}" class="about-btn">Дізнатись більше</a>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center ">
            <img src="{{{about-img}}}" alt="picture" class="about-img img-fluid d-none d-lg-block">
        </div>
    </div>
{{/mol-about-content}}