{{#mol-advantages-slider-item}}
    <div class="advantages-slider__wrapper__item d-flex align-items-center justify-content-between">
        <div class="advantages-slider__wrapper__item__info col-6">
            <ul>
                <p>{{list-title}}</p>
                {{> ../molecules/advantages-slider-info-list}}
            </ul>
        </div>
        <div class="advantages-slider__wrapper__item__img col-6">
            <img src="{{{img-slide}}}" alt="img"/>
        </div>
    </div>
{{/mol-advantages-slider-item}}