{{#mol-advantages-item}}
    {{#adv-item-img}}
        <div class="advantages__wrapper__item">
            {{#adv-item-title}}<p>{{{adv-item-title}}}</p>{{/adv-item-title}}
            <div class="minw-100 text-center">
                <img src="{{{adv-item-img}}}" alt="img"/>
            </div>

        </div>
    {{/adv-item-img}}
{{/mol-advantages-item}}