{{#mol-category-skew-item}}
    {{#img}}<div class="category-wrapper__item">
        <a href="{{{url}}}"><img src="{{{img}}}" alt="img" /></a>
        {{#title}}<a href="{{{url}}}"><p>{{title}}</p></a>{{/title}}
    </div>
    {{/img}}
{{/mol-category-skew-item}}