{{#mol-conditions-for-business-item}}
    {{#conditions-img}}
    <div class="conditions-for-business__wrapper__item col-3 d-flex flex-column text-center " data-aos="flip-left" data-aos-offset="200">
        <div class="sides-line-style img-cont">
            <img src="{{{conditions-img}}}" alt="img" />
        </div>

        {{#conditions-title}}<p>{{{conditions-title}}}</p>{{/conditions-title}}
    </div>
    {{/conditions-img}}
{{/mol-conditions-for-business-item}}