{{#mol-footer-container-item}}
    <div class="footer-container__blocks-wrapp__item">
        <p>
          {{#img-icon}}<img src="{{{img-icon}}}" alt="img"/>{{/img-icon}}{{#title-item}}<strong>{{title-item}}</strong>{{/title-item}}
          {{#whatsapp-link}}<a href="{{{whatsapp-link}}}"><img src="{{{whatsapp-ico}}}"/></a>{{/whatsapp-link}}
          {{#viber-link}}<a href="{{{viber-link}}}"><img src="{{{viber-ico}}}"/></a>{{/viber-link}}
          {{#telegram-link}}<a href="{{{telegram-link}}}"><img src="{{{telegram-ico}}}"/></a>{{/telegram-link}}
        </p>
        {{#info1}}<{{tag}} {{#class-icons}} class="{{class-icons}}" {{/class-icons}} {{#url-href}} href="{{{url-href}}}"{{/url-href}}>{{#ico1}}<span><img src="{{{ico1}}}" alt="img"/></span>{{/ico1}}{{info1}}</{{tag}}>{{/info1}}
        {{#info2}}<{{tag}} {{#class-icons}} class="{{class-icons}}" {{/class-icons}} {{#url-href}} href="{{{url-href}}}"{{/url-href}}>{{#ico2}}<span><img src="{{{ico2}}}" alt="img"/></span>{{/ico2}}{{info2}}</{{tag}}>{{/info2}}
        {{#info3}}<{{tag}} {{#class-icons}} class="{{class-icons}}" {{/class-icons}} {{#url-href}} href="{{{url-href}}}"{{/url-href}}>{{#ico3}}<span><img src="{{{ico3}}}" alt="img"/></span>{{/ico3}}{{info3}}</{{tag}}>{{/info3}}
        {{#info4}}<{{tag}} {{#class-icons}} class="{{class-icons}}" {{/class-icons}} {{#url-href}} href="{{{url-href}}}"{{/url-href}}>{{#ico4}}<span><img src="{{{ico4}}}" alt="img"/></span>{{/ico4}}{{info4}}</{{tag}}>{{/info4}}
        {{#info5}}<{{tag}} {{#class-icons}} class="{{class-icons}}" {{/class-icons}} {{#url-href}} href="{{{url-href}}}"{{/url-href}}>{{#ico5}}<span><img src="{{{ico5}}}" alt="img"/></span>{{/ico5}}{{info5}}</{{tag}}>{{/info5}}
        {{#info}}
            <{{tag}} {{#class-icons}} class="{{class-icons}}" {{/class-icons}} {{#url-href}} href="{{{url-href}}}"{{/url-href}}>{{#ico}}<span><img src="{{{ico}}}" alt="img"/></span>{{/ico}}{{info}}</{{tag}}>{{/info}}
    </div>
{{/mol-footer-container-item}}