{{#mol-header-nav}}
    <div class="nav-menu-container pb-30">
        <div class="full-w-bborder">
            <div class="container">
                <nav class="nav-second navbar navbar-expand-md">
                    <div class="navbar-header">
                        <a class="d-sm-block d-md-none d-lg-none" data-toggle="collapse" data-target="#first" href="#"
                           id="menu-burger"><span></span></a>
                        <a class="navbar-brand d-sm-block d-md-none d-lg-none" href="#"><img class="logotype-img"
                                                                                             src="assets/img/logotype.png"
                                                                                             alt="Brand"/></a>
                        <a class="header-btn-products d-sm-block d-md-none d-lg-none" href="#">Продукція</a>
                    </div>
                    <div class="collapse navbar-collapse" id="first">
                        <ul class="navbar-nav">
                            <li class="nav-item current-menu-item">
                                <a class="nav-link " href="#">Головна</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Про компанію</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Продукція</a>
                            </li>
                            <li class=" navbar-brand">
                                <a class="nav-link d-none d-sm-none d-md-block d-lg-block" href="#"><img
                                        class="logotype-img" src="assets/img/logotype.png" alt="Brand"/></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Галерея</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Доставка</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Контакти</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </div>
{{/mol-header-nav}}
