{{#mol-header-nav}}
    <div class="nav-menu-container pb-30">
        <div class="full-w-bborder">
            <div class="container">
                <nav class="nav-second navbar navbar-expand-md">
                    <div class="navbar-header">
                        <a class="d-sm-block d-md-none d-lg-none" data-toggle="collapse" data-target="#first" href="#"
                           id="menu-burger"><span></span></a>
                        {{#logo}}<a class="navbar-brand d-sm-block d-md-none d-lg-none" href="#"><img class="logotype-img"
                                                                                             src="{{{logo}}}"
                                                                                             alt="Brand"/></a>{{/logo}}
                        {{#production-url}}<a class="header-btn-products d-sm-block d-md-none d-lg-none" href="{{{production-url}}}">Продукція</a>{{/production-url}}
                    </div>
                    <div class="collapse navbar-collapse" id="first">
                        {{#navbar}}
                        <ul class="navbar-nav">
                            {{#navbar-item}}
                                {{#non-logotype}}
                                <li class="nav-item">
                                    <a class="nav-link " href="{{{menu-url}}}">{{non-logotype}}</a>
                                </li>
                                {{/non-logotype}}
                                {{#logotype}}
                                    <li class=" navbar-brand">
                                    <a class="nav-link d-none d-sm-none d-md-block d-lg-block" href="#">
                                        <img class="logotype-img" src="{{{logotype}}}" alt="Brand"/>
                                    </a>
                                    </li>
                                {{/logotype}}
                            {{/navbar-item}}

                        </ul>
                        {{/navbar}}
                    </div>
                </nav>
            </div>
        </div>

    </div>
{{/mol-header-nav}}
