{{#mol-product-variable}}
    {{#title}}<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
        <strong>{{title}}</strong>
        {{#value}}<span>{{{value}}}</span>{{/value}}
    </div>
    {{/title}}
{{/mol-product-variable}}