{{#mol-subscribe-form}}
    <form class="d-flex justify-content-between align-items-center" action="">
        <div>
            <label for="name">{{subscribe-name}}</label><input type="text" id="name">
        </div>
        <div>
            <label for="phone">{{subscribe-phone}}</label> <input type="text" id="phone">
        </div>
        <button type="submit">{{subscribe-btn}}</button>
    </form>
{{/mol-subscribe-form}}