{{#mol-what-you-need-item}}
    <div class="what-you-need__information__wrapper__items col-4 justify-content-center text-center align-items-start" data-aos="zoom-in-up" data-aos-duration="400" data-aos-offset="200">
        {{#need-img}}<img src="{{{need-img}}}" alt="img"/>{{/need-img}}
        {{#need-descr}}<p>{{{need-descr}}}</p>{{/need-descr}}
    </div>
{{/mol-what-you-need-item}}