{{#mol-what-you-need-item}}
    <div class="what-you-need__information__wrapper__items col-4 justify-content-center text-center align-items-start">
        <img src="{{{need-img}}}" alt="img"/>
        <p>{{need-descr}}</p>
    </div>
{{/mol-what-you-need-item}}