{{#mol-work-sidebar}}
    <div class="sidebar-wrapp">
        {{#cat-title}}<h2>{{cat-title}}</h2>{{/cat-title}}
        <ul>
            {{> ../molecules/work-sidebar-item}}
        </ul>
    </div>
{{/mol-work-sidebar}}