{{#p-catalog-page}}
    {{> ../head }}
    {{> ../organisms/header }}
    {{> ../organisms/catalog-content}}
    {{> ../organisms/footer-container}}
    {{> ../organisms/gmap}}
    {{> ../molecules/copyright}}
    {{> ../foot }}
{{/p-catalog-page}}