{{#p-production-single}}
    {{> ../head }}
    {{> ../organisms/header }}
    {{> ../organisms/production-single-content}}
    {{> ../organisms/related-products}}
    {{> ../organisms/footer-container}}
    {{> ../organisms/gmap}}
    {{> ../molecules/copyright}}
    {{> ../foot }}
{{/p-production-single}}