{{#p-production}}
    {{> ../head }}
    {{> ../organisms/header }}
    {{> ../organisms/category-skew}}
    {{> ../organisms/our-works}}
    {{> ../organisms/content-with-lines}}

    {{> ../organisms/footer-container}}
    {{> ../organisms/gmap}}
    {{> ../molecules/copyright}}
    {{> ../foot }}
{{/p-production}}