{{#p-gallery}}
    {{> ../head }}
    {{> ../organisms/header }}
    {{> ../organisms/gallery-header}}
    {{> ../organisms/gallery-content}}
    {{> ../organisms/footer-container}}
    {{> ../organisms/gmap}}
    {{> ../molecules/copyright}}
    {{> ../foot }}
{{/p-gallery}}