<section class="about-our-wagons" data-aos="fade-up" data-aos-duration="400" data-aos-offset="200">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="separator mb-3 mt-3 mt-lg-3"></div>
                <img src="assets/img/about.png" alt="picture" class="about-img img-fluid d-block d-lg-none mb-3" />
                <div class="description-about">
                    Наше виробництво вагончиків, МАФ та інших споруд знаходиться у місті Львів, на котрому працює кваліфікований персонал із досвідом будівництва таких конструкцій. З допомогою нашого досвіду, здійсняться будь-які ваші побажання - ви отримаєте на Вашій ділянці
                    потрібну для вас Каркасну споруду.<br><br>На даний час на ринку представлена велика кількість компаній, що пропонують будівельні вагончики і побутівки у Львові та на Західній Україні за привабливими цінами. При
                    придбанні таких виробів потрібно звертати особливу увагу на якість їх виготовлення, адже основне призначення вагончиків - проживання або перебування людей на короткий або довготривалий термін.
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <div class="separator d-none d-lg-block mt-5"></div>
                    <a href="#" class="about-btn">Дізнатись більше</a>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center ">
                <img src="assets/img/about.png" alt="picture" class="about-img img-fluid d-none d-lg-block">
            </div>
        </div>
    </div>
</section>