<section class="advantages-slider blue-bg">
    <div class="container">
        <div class="title-h2  pb-40 pt-40" data-aos="zoom-out-up" data-aos-offset="200">
            <div class="container d-flex justify-content-center align-items-center flex-column color-white">
                <h2 class="text-center">Для покрівлі використовуваним профнастил</h2>

            </div>
        </div>
        <div class="advantages-slider__wrapper ">
            <div class="advantages-slider__wrapper__item d-flex align-items-center justify-content-between">
                <div class="advantages-slider__wrapper__item__info col-6">
                    <ul>
                        <p>Переваги профнастилу:</p>
                        <li><span>Універсальність</span></li>
                        <li><span>Простота та швидкість монтажу</span></li>
                        <li><span>Довговічність</span></li>
                        <li><span>Велика палітра кольорових рішень</span></li>
                        <li><span>Низька ціна</span></li>
                    </ul>
                </div>
                <div class="advantages-slider__wrapper__item__img col-6">
                    <img src="assets/img/home-slider-img.png" alt="img" />
                </div>
            </div>
            <div class="advantages-slider__wrapper__item d-flex align-items-center justify-content-between">
                <div class="advantages-slider__wrapper__item__info col-6">
                    <ul>
                        <p>Переваги профнастилу:</p>
                        <li><span>Універсальність</span></li>
                        <li><span>Простота та швидкість монтажу</span></li>
                        <li><span>Довговічність</span></li>
                        <li><span>Велика палітра кольорових рішень</span></li>
                        <li><span>Низька ціна</span></li>
                    </ul>
                </div>
                <div class="advantages-slider__wrapper__item__img col-6">
                    <img src="assets/img/home-slider-img.png" alt="img" />
                </div>
            </div>
            <div class="advantages-slider__wrapper__item d-flex align-items-center justify-content-between">
                <div class="advantages-slider__wrapper__item__info col-6">
                    <ul>
                        <p>Переваги профнастилу:</p>
                        <li><span>Універсальність</span></li>
                        <li><span>Простота та швидкість монтажу</span></li>
                        <li><span>Довговічність</span></li>
                        <li><span>Велика палітра кольорових рішень</span></li>
                        <li><span>Низька ціна</span></li>
                    </ul>
                </div>
                <div class="advantages-slider__wrapper__item__img col-6">
                    <img src="assets/img/home-slider-img.png" alt="img" />
                </div>
            </div>
        </div>
    </div>
</section>