<section class="conditions-for-business bg-blue">
    <div class="container">
        <div class="title-h2  pb-40 pt-40" data-aos="zoom-out-up" data-aos-offset="200">
            <div class="container d-flex justify-content-center align-items-center flex-column color-white">
                <h2 class="text-center">Ви бажаєте відкрити або розширити свій бізнес?</h2>
                <span>Вам потрібні сучасні умови для:</span>
            </div>
        </div>
        <div class="conditions-for-business__wrapper d-flex align-items-start justify-content-center">
            <div class="conditions-for-business__wrapper__item col-3 d-flex flex-column text-center " data-aos="flip-left" data-aos-offset="200">
                <div class="sides-line-style img-cont">
                    <img src="assets/img/modern-conditions-1.png" alt="img" />
                </div>

                <p>Надання послуг</p>
            </div>
            <div class="conditions-for-business__wrapper__item col-3 d-flex flex-column text-center " data-aos="flip-left" data-aos-offset="200">
                <div class="sides-line-style img-cont">
                    <img src="assets/img/modern-conditions-2.png" alt="img" />
                </div>

                <p>Зберігання технік або продукції</p>
            </div>
            <div class="conditions-for-business__wrapper__item col-3 d-flex flex-column text-center " data-aos="flip-left" data-aos-offset="200">
                <div class="sides-line-style img-cont">
                    <img src="assets/img/modern-conditions-3.png" alt="img" />
                </div>

                <p>Ведення виробництва</p>
            </div>
            <div class="conditions-for-business__wrapper__item col-3 d-flex flex-column text-center " data-aos="flip-left" data-aos-offset="200">
                <div class="sides-line-style img-cont">
                    <img src="assets/img/modern-conditions-4.png" alt="img" />
                </div>

                <p>Інших бізнес процесів</p>
            </div>
        </div>
    </div>
</section>