<section class="delivery-price">
    <div class="container">
        <div class="title-h2  pb-40 pt-40" data-aos="zoom-out-up" data-aos-offset="200">
            <div class="container d-flex justify-content-center align-items-center flex-column color-white">
                <h2 class="text-center">Орієнтовна вартість доставки</h2>

            </div>
        </div>
        <div class="delivery-price__wrapper d-md-flex justify-content-md-center align-items-start flex-column flex-lg-row">
            <div class="delivery-price__wrapper__item col-md-4 col-12 justify-content-md-center flex-column d-md-flex">
                <span class="delivery-price__wrapper__item__title">Тип товару</span>
                <p>Мало-, Габаритні Споруди Вагою до 1,5 тони</p>
                <p>Габаритні Споруди Вагою 1,5-2,5 тони</p>
                <p>Габаритні Споруди Вагою більше 3-х тон</p>
                <p>Контейнери5ф, 10ф, 20ф</p>
                <p>Крупногабаритні Споруди</p>
            </div>

            <div class="delivery-price__wrapper__item col-md-3 col-12 justify-content-md-center flex-column d-md-flex">
                <span class="delivery-price__wrapper__item__title">Доставка по місту</span>
                <p>800-1000 грн.</p>
                <p>900-1200 грн.</p>
                <p>1100-1500 грн.</p>
                <p>800-1200 грн.</p>
                <p>1500-2000 грн.</p>
            </div>

            <div class="delivery-price__wrapper__item col-md-4 col-12 justify-content-md-center flex-column d-md-flex">
                <span class="delivery-price__wrapper__item__title">Доставка за межі міста</span>
                <p>1000 грн.+ 10 грн/км від міста в одну сторону</p>
                <p>1000 грн. + 17 грн/км від міста в одну сторону</p>
                <p>1100 грн. + 15 грн/км від міста в одну сторону</p>
                <p>1000 грн.+ 10 грн/км від міста в одну сторону </p>
                <p>1500 грн.+15 грн/км від міста в одну сторону </p>
            </div>

            <div class="delivery-price__wrapper__mob-item">
                <div class="left-blue-line">
                    <span class="delivery-price__wrapper__item__title">Тип товару</span>
                    <p>Мало-, Габаритні Споруди Вагою до 1,5 тони</p>
                    <span class="delivery-price__wrapper__item__title">Доставка по місту</span>
                    <p>800-1000 грн.</p>
                    <span class="delivery-price__wrapper__item__title">Доставка за межі міста</span>
                    <p>1000 грн.+ 10 грн/км від міста в одну сторону</p>
                </div>
            </div>

            <div class="delivery-price__wrapper__mob-item">
                <div class="left-blue-line">
                    <span class="delivery-price__wrapper__item__title">Тип товару</span>
                    <p>Габаритні Споруди Вагою 1,5-2,5 тони</p>
                    <span class="delivery-price__wrapper__item__title">Доставка по місту</span>
                    <p>900-1200 грн.</p>
                    <span class="delivery-price__wrapper__item__title">Доставка за межі міста</span>
                    <p>1000 грн. + 17 грн/км від міста в одну сторону</p>
                </div>
            </div>

            <div class="delivery-price__wrapper__mob-item">
                <div class="left-blue-line">
                    <span class="delivery-price__wrapper__item__title">Тип товару</span>
                    <p>Габаритні Споруди Вагою більше 3-х тон</p>
                    <span class="delivery-price__wrapper__item__title">Доставка по місту</span>
                    <p>1100-1500 грн.</p>
                    <span class="delivery-price__wrapper__item__title">Доставка за межі міста</span>
                    <p>1100 грн. + 15 грн/км від міста в одну сторону</p>
                </div>
            </div>

            <div class="delivery-price__wrapper__mob-item">
                <div class="left-blue-line">
                    <span class="delivery-price__wrapper__item__title">Тип товару</span>
                    <p>Контейнери5ф, 10ф, 20ф</p>
                    <span class="delivery-price__wrapper__item__title">Доставка по місту</span>
                    <p>800-1200 грн.</p>
                    <span class="delivery-price__wrapper__item__title">Доставка за межі міста</span>
                    <p>1000 грн.+ 10 грн/км від міста в одну сторону </p>
                </div>
            </div>

            <div class="delivery-price__wrapper__mob-item">
                <div class="left-blue-line">
                    <span class="delivery-price__wrapper__item__title">Тип товару</span>
                    <p>Крупногабаритні Споруди</p>
                    <span class="delivery-price__wrapper__item__title">Доставка по місту</span>
                    <p>1500-2000 грн.</p>
                    <span class="delivery-price__wrapper__item__title">Доставка за межі міста</span>
                    <p>1500 грн.+15 грн/км від міста в одну сторону </p>
                </div>
            </div>

        </div>

    </div>
</section>
<div class="container">
    <h2 class="h2-default text-center pb-5 pt-5"><strong>Увага!</strong> Вартість доставки негабаритних вантажів, обговорюється індивідуально! </h2>
</div>