<section class="faq">
    <div class="container">
        <div class="title-h2  pb-40 pt-40" data-aos="zoom-out-up" data-aos-offset="200">
            <div class="container d-flex justify-content-center align-items-center flex-column ">
                <h2 class="text-center">Поширені запитання</h2>

            </div>
        </div>
        <div class="wrapper accordion js-accordion">
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">Як оформити покупку ?</div>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">Зв'язуєтесь з нами за контактами або залишаєте заявку, ми узгоджуємо всі технічні питання і ціну. Після попередньої оплати виконується виготовлення або поставка вашого замовлення.</div>
                </div>
            </div>
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">Як отримати замовлення ?</div>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">Зв'язуєтесь з нами за контактами або залишаєте заявку, ми узгоджуємо всі технічні питання і ціну. Після попередньої оплати виконується виготовлення або поставка вашого замовлення.</div>
                </div>
            </div>
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">Яким чином здійснюється доставка ?</div>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">Зв'язуєтесь з нами за контактами або залишаєте заявку, ми узгоджуємо всі технічні питання і ціну. Після попередньої оплати виконується виготовлення або поставка вашого замовлення.</div>
                </div>
            </div>
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">Яка ціна доставки ?</div>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">Зв'язуєтесь з нами за контактами або залишаєте заявку, ми узгоджуємо всі технічні питання і ціну. Після попередньої оплати виконується виготовлення або поставка вашого замовлення.</div>
                </div>
            </div>
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">Які варіанти доставки ?</div>
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">Зв'язуєтесь з нами за контактами або залишаєте заявку, ми узгоджуємо всі технічні питання і ціну. Після попередньої оплати виконується виготовлення або поставка вашого замовлення.</div>
                </div>
            </div>
        </div>
    </div>
</section>