<section class="our-works">
    <div class="container">
        <div class="title-h2  pb-40 pt-40" data-aos="zoom-out-up" data-aos-offset="200">
            <div class="container d-flex justify-content-center align-items-center flex-column ">
                <h2 class="text-center">Наші вироби</h2>

            </div>
        </div>
        <div class="our-works__content d-flex justify-content-between align-items-start">
            <div class="our-works__content__sidebar" data-aos="fade-right" data-aos-duration="300" data-aos-offset="200">

                <div class="sidebar-wrapp">
                    <h2>Каталог</h2>
                    <ul>
                        <li><a href="#">Будівельні вагончики</a></li>
                        <li><a href="#">Магазини &#x2F; Кіоски &#x2F; Павільйони</a></li>
                        <li><a href="#">Дачні будиночки</a></li>
                        <li><a href="#">Склади, контейнери</a></li>
                        <li><a href="#">Блок-пости охорони</a></li>
                        <li><a href="#">Торгові кіоски</a></li>
                        <li><a href="#">Металоконструкції каркасні</a></li>
                        <li><a href="#">Бесідки &#x2F; альтанки з дерева</a></li>
                        <li><a href="#">Мийки, СТО, кафе, МАФ</a></li>
                        <li><a href="#">Оренда вагончиків, та ін.</a></li>
                    </ul>
                </div>
            </div>
            <div class="our-works__content__wrapper" data-aos="fade-up" data-aos-duration="250" data-aos-offset="200">
                <div class="our-works__content__wrapper__item col-4">
                    <a href="/production-single"><img src="assets/img/our-works-1.png" alt="img"/></a>
                    <div class="p-3 blue-bg position-relative">
                        <h3>Вагончик Будівельний</h3>
                        <div class="d-flex justify-content-between align-items-center ">
                            <p>Розмір: <span>(6.0х2.5х2.5м)</span></p>
                            <p>Ціна: <span>1500 грн</span></p>
                        </div>
                        <div class="more-btn-container">
                            <a class="more-btn" href="/production-single">Дізнатись більше</a>
                        </div>
                    </div>

                </div>
                <div class="our-works__content__wrapper__item col-4">
                    <a href="/production-single"><img src="assets/img/our-works-2.png" alt="img"/></a>
                    <div class="p-3 blue-bg position-relative">
                        <h3>Вагончик Будівельний</h3>
                        <div class="d-flex justify-content-between align-items-center ">
                            <p>Розмір: <span>(6.0х2.5х2.5м)</span></p>
                            <p>Ціна: <span>1500 грн</span></p>
                        </div>
                        <div class="more-btn-container">
                            <a class="more-btn" href="/production-single">Дізнатись більше</a>
                        </div>
                    </div>

                </div>
                <div class="our-works__content__wrapper__item col-4">
                    <a href="/production-single"><img src="assets/img/our-works-3.png" alt="img"/></a>
                    <div class="p-3 blue-bg position-relative">
                        <h3>Вагончик Будівельний</h3>
                        <div class="d-flex justify-content-between align-items-center ">
                            <p>Розмір: <span>(6.0х2.5х2.5м)</span></p>
                            <p>Ціна: <span>1500 грн</span></p>
                        </div>
                        <div class="more-btn-container">
                            <a class="more-btn" href="/production-single">Дізнатись більше</a>
                        </div>
                    </div>

                </div>
                <div class="our-works__content__wrapper__item col-4">
                    <a href="/production-single"><img src="assets/img/our-works-4.png" alt="img"/></a>
                    <div class="p-3 blue-bg position-relative">
                        <h3>Вагончик Будівельний</h3>
                        <div class="d-flex justify-content-between align-items-center ">
                            <p>Розмір: <span>(6.0х2.5х2.5м)</span></p>
                            <p>Ціна: <span>1500 грн</span></p>
                        </div>
                        <div class="more-btn-container">
                            <a class="more-btn" href="/production-single">Дізнатись більше</a>
                        </div>
                    </div>

                </div>
                <div class="our-works__content__wrapper__item col-4">
                    <a href="/production-single"><img src="assets/img/our-works-5.png" alt="img"/></a>
                    <div class="p-3 blue-bg position-relative">
                        <h3>Вагончик Будівельний</h3>
                        <div class="d-flex justify-content-between align-items-center ">
                            <p>Розмір: <span>(6.0х2.5х2.5м)</span></p>
                            <p>Ціна: <span>1500 грн</span></p>
                        </div>
                        <div class="more-btn-container">
                            <a class="more-btn" href="/production-single">Дізнатись більше</a>
                        </div>
                    </div>

                </div>
                <div class="our-works__content__wrapper__item col-4">
                    <a href="/production-single"><img src="assets/img/our-works-6.png" alt="img"/></a>
                    <div class="p-3 blue-bg position-relative">
                        <h3>Вагончик Будівельний</h3>
                        <div class="d-flex justify-content-between align-items-center ">
                            <p>Розмір: <span>(6.0х2.5х2.5м)</span></p>
                            <p>Ціна: <span>1500 грн</span></p>
                        </div>
                        <div class="more-btn-container">
                            <a class="more-btn" href="/production-single">Дізнатись більше</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a class="show-more-button mt-5" href="#">Побачити більше</a>
    </div>
</section>