<section class="production-single-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h2 class="mob-title-single text-center" data-aos="zoom-in-left" data-aos-duration="250" data-aos-offset="200">Вагончик дачний<br>Блок Хаус</h2>
                <div class="slider h-100 main-slider-production">
                    <div style="background-image: url(assets/img/single-img.png);"></div>
                    <div style="background-image: url(assets/img/single-img.png);"></div>
                    <div style="background-image: url(assets/img/single-img.png);"></div>
                    <div style="background-image: url(assets/img/single-img.png);"></div>
                    <div style="background-image: url(assets/img/single-img.png);"></div>
                    <div style="background-image: url(assets/img/single-img.png);"></div>
                    <div style="background-image: url(assets/img/single-img.png);"></div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <h2 class="desc-title-single" data-aos="zoom-in-left" data-aos-duration="250" data-aos-offset="200">Вагончик дачний<br>Блок Хаус</h2>
                <div class="info-production " data-aos="zoom-in-left" data-aos-duration="250" data-aos-offset="200">
                    <div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
                        <strong>Розмір:</strong>
                        <span>6.0х2.5x2.5 м</span>
                    </div>
                    <div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
                        <strong>Тип каркасу:</strong>
                        <span>Металева профільна труба, зварний</span>
                    </div>
                    <div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
                        <strong>Оздоблення стін:</strong>
                        <span>Блок-Хаус, Вагонка, Фальш-Брус, товщина стіни 100мм, Гідробар'єр/паробар'єр. Мінвата 100мм.</span>
                    </div>
                    <div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
                        <strong>Оздоблення даху:</strong>
                        <span>Профнастил оцинкований т14, мінвата 100мм, двох-скатний дах, петлі для погрузки автокраном присутні, всередині вагонка</span>
                    </div>
                    <div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
                        <strong>Оздоблення підлоги:</strong>
                        <span>Метал, мінвата 100мм, гідробар'єр,  ОСБ-22мм, Лінолеум</span>
                    </div>
                    <div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
                        <strong>Двері:</strong>
                        <span>Металева профільна труба, зварний</span>
                    </div>
                    <div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
                        <strong>Вікно:</strong>
                        <span>1100*900мм М/П, п/у, - 2шт.</span>
                    </div>
                    <div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
                        <strong>Електрика:</strong>
                        <span>Присутня, ЛЕД освітелення</span>
                    </div>
                    <div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
                        <strong>Додатково:</strong>
                        <span>Двері МДФ, перегородка внутрішня</span>
                    </div>
                    <div class="cart-container d-flex align-items-center">
                        <a href="javascript:void(0)" data-toggle='modal' data-target='#exampleModalCenter' class="blue-btn"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider nav-slider-production d-flex justify-content-start align-items-start mtop-20">
            <div style="background-image: url(assets/img/single-img.png);"></div>
            <div style="background-image: url(assets/img/single-img.png);"></div>
            <div style="background-image: url(assets/img/single-img.png);"></div>
            <div style="background-image: url(assets/img/single-img.png);"></div>
            <div style="background-image: url(assets/img/single-img.png);"></div>
            <div style="background-image: url(assets/img/single-img.png);"></div>
            <div style="background-image: url(assets/img/single-img.png);"></div>

        </div>
    </div>
</section>