{{#foot}}
    {{#vendor-scripts}}
        {{#jquery}}
            <!-- Jquery -->
            <script src="assets/js/vendors/jquery-3.3.1.js"></script>
        {{/jquery}}
        {{#slick-slider}}
            <!-- Slick slider -->
            <script src="assets/js/vendors/slick.min.js"></script>
        {{/slick-slider}}
        {{#aos}}
            <!-- Animate on scroll -->
            <script src="assets/js/vendors/aos.js"></script>
        {{/aos}}
        {{#bootstrap}}
            <!-- Bootstrap -->
            <script src="assets/js/vendors/bootstrap.js"></script>
        {{/bootstrap}}

        {{#map}}
            <!-- Map -->
            <script>
                function initMap() {
                    var coords = {lat: 49.812813, lng: 24.000806};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 17,
                        center: coords
                    });
                    var marker = new google.maps.Marker({
                        position: coords,
                        map: map,
                        icon: "assets/img/gmap-marker.png"
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoLs4jh4_7ZW16LDVDAXDPGISWv9RN-x8&callback=initMap"
                    async defer></script>
        {{/map}}


    {{/vendor-scripts}}

    <!-- Custom script -->
    <script src="assets/js/script.min.js"></script>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-wrapp">
                <div class="modal-header">
                    <div>
                        <h2>Замовлення</h2>
                        <h4>Заповніть особисті дані для успішного замовлення</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="contact-form-container">
                    <input type="text" placeholder="Ім'я: ">
                    <input type="text" placeholder="Прізвище: ">
                    <input type="text" placeholder="Номер телефону: ">
                    <div class="cart-container d-flex align-items-center justify-content-between flex-wrap flex-md-nowrap">
                        <div class="price-container d-flex align-items-center mr-30 ">
                            <strong class="mr-2">Ціна:</strong>
                            <p style="color: #1d6bb5">70 000грн</p>
                        </div>
                        <a href="javascript:void(0)" class="blue-btn">Замовити</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-wrapp">
                <div class="modal-header">
                    <div>
                        <h2 class="text-center">Ваше замовлення було успішно відправлено</h2>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <a href="javascript:void(0)" class="blue-btn m-auto">Замовити</a>
            </div>
        </div>
    </div>
    </body>
    </html>
{{/foot}}