<div class="advantages__wrapper__item" data-aos="zoom-out" data-aos-offset="200">
    <p>10 років на ринку України</p>
    <div class="minw-100 text-center">
        <img src="assets/img/adv-11.png" alt="img" />
    </div>

</div>
<div class="advantages__wrapper__item" data-aos="zoom-out" data-aos-offset="200">
    <p>Надійність</p>
    <div class="minw-100 text-center">
        <img src="assets/img/adv-22.png" alt="img" />
    </div>

</div>
<div class="advantages__wrapper__item" data-aos="zoom-out" data-aos-offset="200">
    <p>Доступна ціна</p>
    <div class="minw-100 text-center">
        <img src="assets/img/adv-3.png" alt="img" />
    </div>

</div>
<div class="advantages__wrapper__item" data-aos="zoom-out" data-aos-offset="200">
    <p>Висока якість</p>
    <div class="minw-100 text-center">
        <img src="assets/img/adv-4.png" alt="img" />
    </div>

</div>
<div class="advantages__wrapper__item" data-aos="zoom-out" data-aos-offset="200">
    <p>Швидкість</p>
    <div class="minw-100 text-center">
        <img src="assets/img/adv-5.png" alt="img" />
    </div>

</div>
<div class="advantages__wrapper__item" data-aos="zoom-out" data-aos-offset="200">
    <p>Більше 1000 вагонів в каталозі</p>
    <div class="minw-100 text-center">
        <img src="assets/img/adv-6.png" alt="img" />
    </div>

</div>