<div class="advantages-slider__wrapper__item d-flex align-items-center justify-content-between">
    <div class="advantages-slider__wrapper__item__info col-6">
        <ul>
            <p>Переваги профнастилу:</p>
            <li><span>Універсальність</span></li>
            <li><span>Простота та швидкість монтажу</span></li>
            <li><span>Довговічність</span></li>
            <li><span>Велика палітра кольорових рішень</span></li>
            <li><span>Низька ціна</span></li>
        </ul>
    </div>
    <div class="advantages-slider__wrapper__item__img col-6">
        <img src="assets/img/home-slider-img.png" alt="img" />
    </div>
</div>
<div class="advantages-slider__wrapper__item d-flex align-items-center justify-content-between">
    <div class="advantages-slider__wrapper__item__info col-6">
        <ul>
            <p>Переваги профнастилу:</p>
            <li><span>Універсальність</span></li>
            <li><span>Простота та швидкість монтажу</span></li>
            <li><span>Довговічність</span></li>
            <li><span>Велика палітра кольорових рішень</span></li>
            <li><span>Низька ціна</span></li>
        </ul>
    </div>
    <div class="advantages-slider__wrapper__item__img col-6">
        <img src="assets/img/home-slider-img.png" alt="img" />
    </div>
</div>
<div class="advantages-slider__wrapper__item d-flex align-items-center justify-content-between">
    <div class="advantages-slider__wrapper__item__info col-6">
        <ul>
            <p>Переваги профнастилу:</p>
            <li><span>Універсальність</span></li>
            <li><span>Простота та швидкість монтажу</span></li>
            <li><span>Довговічність</span></li>
            <li><span>Велика палітра кольорових рішень</span></li>
            <li><span>Низька ціна</span></li>
        </ul>
    </div>
    <div class="advantages-slider__wrapper__item__img col-6">
        <img src="assets/img/home-slider-img.png" alt="img" />
    </div>
</div>