<div class="header-contacts-info-mob">
    <div class="container">
        <p><img src="assets/img/footer-phone-icon-white.png" alt="img" />+38(067) 67-24-531 +38(067) 67-24-531</p>
        <p>
            <a href="mailto:akr.balans@gmail.com" class="mr-60"><img src="assets/img/footer-email-icon-white.png" alt="img"/>akr.balans@gmail.com
                    </a>
        </p>
        <p><img src="assets/img/footer-location-icon-white.png" alt="img" />м. Львів, вул. Зелена, б. 149. оф.321</p>
    </div>
</div>