<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
    <strong>Розмір:</strong>
    <span>6.0х2.5x2.5 м</span>
</div>
<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
    <strong>Тип каркасу:</strong>
    <span>Металева профільна труба, зварний</span>
</div>
<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
    <strong>Оздоблення стін:</strong>
    <span>Блок-Хаус, Вагонка, Фальш-Брус, товщина стіни 100мм, Гідробар'єр/паробар'єр. Мінвата 100мм.</span>
</div>
<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
    <strong>Оздоблення даху:</strong>
    <span>Профнастил оцинкований т14, мінвата 100мм, двох-скатний дах, петлі для погрузки автокраном присутні, всередині вагонка</span>
</div>
<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
    <strong>Оздоблення підлоги:</strong>
    <span>Метал, мінвата 100мм, гідробар'єр,  ОСБ-22мм, Лінолеум</span>
</div>
<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
    <strong>Двері:</strong>
    <span>Металева профільна труба, зварний</span>
</div>
<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
    <strong>Вікно:</strong>
    <span>1100*900мм М/П, п/у, - 2шт.</span>
</div>
<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
    <strong>Електрика:</strong>
    <span>Присутня, ЛЕД освітелення</span>
</div>
<div class="d-flex align-items-start mt-3 mb-3 flex-lg-nowrap flex-wrap">
    <strong>Додатково:</strong>
    <span>Двері МДФ, перегородка внутрішня</span>
</div>