{{#org-404}}
    <section class="style-404" style="background-image: url(assets/img/about.png);">
        <div class="style-404__container">
            {{> ../molecules/title-h2}}
            <img src="assets/img/404.png" alt="img" />
            <div class="mt-4 w-100 d-flex justify-content-center">
                {{> ../molecules/blue-btn}}
            </div>
        </div>
    </section>
{{/org-404}}