{{#org-about-our-wagons}}
    <section class="about-our-wagons" data-aos="fade-up" data-aos-duration="400" data-aos-offset="200">
        <div class="container">
            {{> ../molecules/about-content }}
        </div>
    </section>
{{/org-about-our-wagons}}