{{#org-catalog-content}}
    <section class="catalog-content">
        <div class="container">
            {{> ../molecules/title-h2}}
            <img class="header-main-img d-lg-block d-none" src="assets/img/vagons.jpg" alt="img"/>
            <div class="catalog-content__wrapper d-flex flex-wrap">
                {{> ../molecules/our-work-item}}
            </div>
            <div class="catalog-content__info-container  pt-80">
                <h2 class="h2-default">{{catalog-info-title}}</h2>
               {{> ../molecules/catalog-content-block}}
            </div>
        </div>
    </section>
{{/org-catalog-content}}