{{#org-conditions-for-business}}
    <section class="conditions-for-business bg-blue">
        <div class="container">
            {{> ../molecules/title-h2}}
            <div class="conditions-for-business__wrapper d-flex align-items-start justify-content-center">
                {{> ../molecules/conditions-for-business-item}}
            </div>
        </div>
    </section>
{{/org-conditions-for-business}}