{{#org-delivery-price}}
    <section class="delivery-price">
        <div class="container">
            {{> ../molecules/title-h2}}
            <div class="delivery-price__wrapper d-md-flex justify-content-md-center align-items-start flex-column flex-lg-row">
                <div class="delivery-price__wrapper__item {{class-item-1}} justify-content-md-center flex-column d-md-flex">
                    {{#item-1-title}}
                        <span class="delivery-price__wrapper__item__title">{{item-1-title}}</span>
                    {{/item-1-title}}
                    {{{item-1-text}}}
                    {{{item-2-text}}}
                    {{{item-3-text}}}
                    {{{item-4-text}}}
                    {{{item-5-text}}}
                </div>

                <div class="delivery-price__wrapper__item {{class-item-2}} justify-content-md-center flex-column d-md-flex">
                    {{#item-2-title}}
                        <span class="delivery-price__wrapper__item__title">{{item-2-title}}</span>
                    {{/item-2-title}}
                    {{{item-1-price}}}
                    {{{item-2-price}}}
                    {{{item-3-price}}}
                    {{{item-4-price}}}
                    {{{item-5-price}}}
                </div>

                <div class="delivery-price__wrapper__item {{class-item-3}} justify-content-md-center flex-column d-md-flex">
                    {{#item-3-title}}
                        <span class="delivery-price__wrapper__item__title">{{item-3-title}}</span>
                    {{/item-3-title}}
                    {{{item-1-delivery}}}
                    {{{item-2-delivery}}}
                    {{{item-3-delivery}}}
                    {{{item-4-delivery}}}
                    {{{item-5-delivery}}}
                </div>

                <div class="delivery-price__wrapper__mob-item">
                    <div class="left-blue-line">
                        {{#item-1-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-1-title}}</span>
                        {{/item-1-title}}
                        {{{item-1-text}}}
                        {{#item-2-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-2-title}}</span>
                        {{/item-2-title}}
                        {{{item-1-price}}}
                        {{#item-3-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-3-title}}</span>
                        {{/item-3-title}}
                        {{{item-1-delivery}}}
                    </div>
                </div>

                <div class="delivery-price__wrapper__mob-item">
                    <div class="left-blue-line">
                        {{#item-1-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-1-title}}</span>
                        {{/item-1-title}}
                        {{{item-2-text}}}
                        {{#item-2-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-2-title}}</span>
                        {{/item-2-title}}
                        {{{item-2-price}}}
                        {{#item-3-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-3-title}}</span>
                        {{/item-3-title}}
                        {{{item-2-delivery}}}
                    </div>
                </div>

                <div class="delivery-price__wrapper__mob-item">
                    <div class="left-blue-line">
                        {{#item-1-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-1-title}}</span>
                        {{/item-1-title}}
                        {{{item-3-text}}}
                        {{#item-2-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-2-title}}</span>
                        {{/item-2-title}}
                        {{{item-3-price}}}
                        {{#item-3-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-3-title}}</span>
                        {{/item-3-title}}
                        {{{item-3-delivery}}}
                    </div>
                </div>

                <div class="delivery-price__wrapper__mob-item">
                    <div class="left-blue-line">
                        {{#item-1-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-1-title}}</span>
                        {{/item-1-title}}
                        {{{item-4-text}}}
                        {{#item-2-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-2-title}}</span>
                        {{/item-2-title}}
                        {{{item-4-price}}}
                        {{#item-3-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-3-title}}</span>
                        {{/item-3-title}}
                        {{{item-4-delivery}}}
                    </div>
                </div>

                <div class="delivery-price__wrapper__mob-item">
                    <div class="left-blue-line">
                        {{#item-1-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-1-title}}</span>
                        {{/item-1-title}}
                        {{{item-5-text}}}
                        {{#item-2-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-2-title}}</span>
                        {{/item-2-title}}
                        {{{item-5-price}}}
                        {{#item-3-title}}
                            <span class="delivery-price__wrapper__item__title">{{item-3-title}}</span>
                        {{/item-3-title}}
                        {{{item-5-delivery}}}
                    </div>
                </div>

            </div>

        </div>
    </section>
    {{> ../molecules/delivery-attention}}
{{/org-delivery-price}}