{{#org-gallery-header}}
    <section class="gallery-header" data-aos="zoom-in" data-aos-duration="350" data-aos-offset="200">
        <div class="container">
            {{> ../molecules/title-h2}}
            <div class="category-wrapper d-lg-flex align-items-start justify-content-center">
                {{> ../molecules/category-skew-item}}
            </div>
        </div>
    </section>
{{/org-gallery-header}}