{{#org-gallery-content}}
    <section class="gallery-content">
        {{> ../molecules/title-h2}}
        <div class="container">
            <div class="gallery-content__wrapper flex-wrap ">
                {{> ../molecules/gallery-content-item}}
            </div>
        </div>
    </section>
{{/org-gallery-content}}