{{#org-header-home-category}}
    {{> ../molecules/title-h2}}
    <section class="vagonchiki" data-aos="zoom-in" data-aos-offset="250">
        {{> ../molecules/header-home-category-item }}
    </section>
    {{> ../molecules/mob-contacts-info-main }}
{{/org-header-home-category}}