{{#org-header-home-category}}
    {{> ../molecules/title-h2}}
    <section class="vagonchiki ">
        {{> ../molecules/header-home-category-item }}
    </section>
    {{> ../molecules/mob-contacts-info-main }}
{{/org-header-home-category}}