{{#org-our-works}}
    <section class="our-works">
        <div class="container">
            {{> ../molecules/title-h2}}
            <div class="our-works__content d-flex justify-content-between align-items-start">
                <div class="our-works__content__sidebar">

                    {{> ../molecules/work-sidebar}}
                </div>
                <div class="our-works__content__wrapper">
                    {{> ../molecules/our-work-item}}
                </div>
            </div>
            <a class="show-more-button" href="#">Побачити більше</a>
        </div>
    </section>
{{/org-our-works}}