{{#org-related-products}}
    <section class="related-products">
        <div class="container">
            {{#title-related}}<h2 class="text-center h2-default">{{title-related}}</h2>{{/title-related}}
            <div class="related-products__wrapper d-flex flex-wrap align-items-start">
                {{> ../molecules/our-work-item}}
            </div>
        </div>
    </section>
{{/org-related-products}}