{{#org-subscribe}}
    <section class="subscribe" style="background-image: url('{{{bg-image}}}'); background-repeat: no-repeat;">
        <div class="container mw-1180 bg-white">
            {{> ../molecules/title-h2}}
            {{> ../molecules/subscribe-form}}
        </div>
    </section>
{{/org-subscribe}}