{{#p-contact}}
    {{> ../head }}
    {{> ../organisms/header }}
    {{> ../organisms/about-company}}
    {{> ../organisms/footer-container}}
    {{> ../organisms/gmap}}
    {{> ../molecules/copyright}}
    {{> ../foot }}
{{/p-contact}}