{{#p-delivery}}
    {{> ../head }}
    {{> ../organisms/header }}
    {{> ../organisms/delivery-description}}
    {{> ../organisms/delivery-price}}
    {{> ../organisms/faq}}
    {{> ../organisms/footer-container}}
    {{> ../organisms/gmap}}
    {{> ../molecules/copyright}}
    {{> ../foot }}
{{/p-delivery}}