{{#p-index}}
    {{> ../head }}
    {{> ../organisms/header }}
    {{> ../organisms/header-home-category}}
    {{> ../organisms/advantages_wrapper}}
    {{> ../organisms/conditions-for-business}}
    {{> ../organisms/what-you-need}}
    {{> ../organisms/subscribe}}
    {{> ../organisms/our-works}}
    {{> ../organisms/advantages-slider}}
    {{> ../organisms/about}}
    {{> ../organisms/footer-container}}
    {{> ../organisms/gmap}}
    {{> ../molecules/copyright}}

    {{> ../foot }}
{{/p-index}}