{{#mol-advantages-slider-item}}
    <div class="advantages-slider__wrapper__item d-flex align-items-center justify-content-between">
        <div class="advantages-slider__wrapper__item__info col-6">
            <ul>
                {{#list-title}}<p>{{list-title}}</p>{{/list-title}}
                {{> ../molecules/advantages-slider-info-list}}
            </ul>
        </div>
        {{#img-slide}}
            <div class="advantages-slider__wrapper__item__img col-6">
                <img src="{{{img-slide}}}" alt="img"/>
            </div>
        {{/img-slide}}
    </div>
{{/mol-advantages-slider-item}}