{{#mol-gallery-content-item}}
    {{#image}}
        <div class="col-12 col-md-6 col-lg-3 gallery-content__wrapper__item">
            <a href="{{{url}}}" class="gallery-mask">
                {{#zoom-icon}}<img src="{{{zoom-icon}}}" alt="img"/>{{/zoom-icon}}
            </a>
            <img src="{{{image}}}" alt="img"/>
        </div>
    {{/image}}
{{/mol-gallery-content-item}}