{{#mol-gallery-item}}
    {{#gallery-item}}
        <div class="gallery-container__wrapper__item">
            <img src="{{{gallery-item}}}" alt="img"/>
        </div>
    {{/gallery-item}}
{{/mol-gallery-item}}