{{#mol-header-home-category-item}}
    <div class="vagonchiki__item view view-first">
        {{#title}}
            <div class="vagonchiki__item__title">
                <h3>{{title}}</h3>
            </div>
        {{/title}}
        <div class="vagonchiki__item__image"{{#image-url}}
             style="background-image: url('{{{image-url}}}');"{{/image-url}}>
            <div class="mask"></div>
            <div class="content-vagonchiki ">
                {{{content}}}
                {{#price}}
                    <div class="vagonchiki-price d-flex justify-content-between align-items-center">
                        <p>Ціна від <span>{{price}}грн</span></p>
                        <a href="{{{more-url}}}" class="info">Дізнатись більше</a>
                    </div>
                {{/price}}
            </div>
        </div>
    </div>
{{/mol-header-home-category-item}}