{{#mol-single-slides}}
    {{#img-url}}
        <div {{#class-name-for-slide}}class="{{class-name-for-slide}}"{{/class-name-for-slide}}
             style="background-image: url({{{img-url}}});"></div>
    {{/img-url}}
{{/mol-single-slides}}