{{#mol-title-h2}}
    {{#title}}
        <div class="title-h2  pb-40 pt-40" data-aos="zoom-out-up" data-aos-offset="200">
            <div class="container d-flex justify-content-center align-items-center flex-column {{color-white}}">
                <h2 class="text-center">{{#title-2}}{{title-2}}{{/title-2}}{{{title}}}</h2>
                {{#subtitle}}<span>{{{subtitle}}}</span>{{/subtitle}}
            </div>
        </div>
    {{/title}}
{{/mol-title-h2}}