{{#org-about-header-image}}
    {{> ../molecules/title-h2}}
    <section class="about-header-img-container">
    {{#image}}<img src="{{{image}}}" alt="img"/>{{/image}}
    </section>
{{/org-about-header-image}}