{{#org-about}}
    <section class="about-section" data-aos="fade-down" data-aos-duration="500" data-aos-offset="200">
        <div class="container">
            {{> ../molecules/about-content}}
        </div>
    </section>
{{/org-about}}