{{#org-advantages-slider}}
    <section class="advantages-slider blue-bg">
        <div class="container">
            {{> ../molecules/title-h2}}
            <div class="advantages-slider__wrapper ">
                {{> ../molecules/advantages-slider-item}}
            </div>
        </div>
    </section>
{{/org-advantages-slider}}