{{#org-category-skew}}
    <section class="category-skew bg-blue">
        <div class="container">
            {{> ../molecules/title-h2}}
            <div class="category-wrapper d-lg-flex align-items-start justify-content-center">
                {{> ../molecules/category-skew-item}}
            </div>
        </div>
    </section>
{{/org-category-skew}}