{{#org-faq}}
    <section class="faq">
        <div class="container">
            {{> ../molecules/title-h2}}
            <div class="wrapper accordion js-accordion">
                {{> ../molecules/faq-item}}
            </div>
        </div>
    </section>
{{/org-faq}}